$dayBodyBgColor: #1702d8;
$nightBodyBgColor: #363636;

$dayLinkColor: rgb(221, 221, 221);
$nightLinkColor: rgb(221, 221, 221);

$regularFontFamily: 'Lato', sans-serif;
$regularFontColor: rgb(233, 233, 233);

$labelColor: #414141;
