@import './variable';
@import './button';
@import './common';
@import './admin_style';

body {
  background: $nightBodyBgColor;
}

.container {
  width: auto;
  overflow: hidden;
  padding-top: 35px;
}

header {
  background: transparent;
  position: fixed;
  right: 0;
  width: calc(100% - 220px);
  height: 50px;
  text-align: right;
}

.sidebar {
  position: relative;
  float: left;
  width: 220px;
  height: 100%;

  .sidebar-content {
    background: transparent;
    height: 100%;
    position: fixed;
    min-width: inherit;
    width: inherit;
    z-index: 500;

    .site-info {
      text-align: center;
      padding-top: 20px;
      float: none;
      a {
        text-decoration: none;
      }

      .site-logo {
        font-size: 22px;
      }

      .site-title {
        font-size: 25px;
        font-weight: bold;
      }
    }

    .sidebar-menu {
      .drop-down-menus {
        overflow: hidden;
      }
      .drop-down-menu {
        width: 100%;
        color: $regularFontColor;
        overflow: hidden;
        background: transparent;

        input[type='radio'] {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        &-label {
          display: block;
          padding: 1em;
          background: transparent;
          font-weight: bold;
          cursor: pointer;
          text-align: left;
          border-right: 3px solid transparent;

          .menu-item-name {
            padding-left: 5px;
          }

          /* Icon */
          &:hover {
            background: #384161;
          }
          &::after {
            content: '\276F';
            width: 0.25em;
            height: 0.25em;
            text-align: center;
            transition: all 0.35s;
            font-size: 12px;
            font-weight: normal;
            padding-bottom: 7px;
            padding-top: 3px;
            float: right;
          }
        }

        &-content {
          max-height: 0;
          color: $regularFontColor;
          background: #041229;
          transition: all 0.35s;

          .sub-menu {
            display: none;
            padding: 10px 30px;
            text-decoration: none;
            .sub-menu-item-name {
              padding-left: 5px;
            }

            i {
              font-size: 12px;
            }

            &:hover {
              background: #212a4a;
            }
          }
        }

        &-close {
          display: flex;
          justify-content: flex-end;
          padding: 1em;
          font-size: 0.75em;
          background: transparent;
          cursor: pointer;

          &:hover {
            background: transparent;
          }
        }

        input[type='radio']:checked {
          + .drop-down-menu-label {
            background: #384161;
            border-right: 3px solid #ceced3;

            &::after {
              transform: rotate(90deg);
            }
          }
          ~ .drop-down-menu-content {
            max-height: 100vh;
            display: grid;

            .sub-menu {
              display: block;
            }
          }
        }
      }

      .single-menu {
        width: 100%;
        color: $regularFontColor;
        background: transparent;
        display: block;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        text-align: left;
        border-right: 3px solid transparent;
        text-decoration: none;

        .menu-item-name {
          padding-left: 5px;
        }

        &:hover {
          background: #384161;
        }
      }
    }
  }
}

.expand-on-check-label {
  width: 100%;
  height: 40px;
  background: #041229;
  position: absolute;
  bottom: 0;
  z-index: 999;
  padding: 10px 45%;
  cursor: pointer;

  &::after {
    content: '\276E';
    transition: all 0.35s;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.185);
  }
}

#expand-on-checked {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 888;
  display: none;

  &:checked {
    ~ .sidebar {
      width: 70px;

      .expand-on-check-label::after {
        content: '\276F';
      }

      .site-logo {
        font-size: 24px;
      }

      .drop-down-menu-label {
        text-align: center;
        padding: 10px 0;

        &::after {
          content: '';
        }

        span {
          display: block;
          font-size: 11px;
          padding: 3px 0;
        }
      }

      .drop-down-menu-content {
        .sub-menu {
          padding: 10px 0;
          text-align: center;

          .sub-menu-item-name {
            display: block;
            font-size: 10px;
            padding: 0;
            text-align: center;
          }
        }
      }

      .single-menu {
        text-align: center;
        padding: 10px 0;

        span {
          display: block;
          font-size: 11px;
          padding: 3px 0;
        }
      }

      .site-info {
        .site-title {
          display: none;
        }
      }
    }
  }
}

.dashboard {
  width: 100%;
  background: rgba(255, 255, 255, 0.185);
}
