@import './variable';
@import './style';

body {
  // background: linear-gradient(to right, $dayBodyBgColor, #3f51b5);
  background: $dayBodyBgColor;
}

a {
  color: $dayLinkColor;

  &:hover {
    color: white;
  }
}

// .ground {
//   width: 100%;
//   background: linear-gradient(to bottom, $dayBodyBgColor, green);
//   height: 280px;
// }
