<div class="container clearfix">
  <div class="col-12 ">
    <div class="col-12">
      <div class="col-12 panel">
        <h1>Blogs &nbsp;&nbsp;<i class="fas fa-pen"></i></h1>

        <table class="default-table">
          <thead>
            <th>SN</th>
            <th>Title</th>
            <th>Published on</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% blogs.forEach( function(blog) { %>
            <tr>
              <td></td>
              <td><%= blog.title %></td>
              <td><%= blog.createdOn %></td>
              <td></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
