<div class="container clearfix">
  <div class="col-12 ">
    <div class="col-9">
      <div class="col-12 panel">
        <h1>Blogs &nbsp;&nbsp;<i class="fas fa-pen"></i></h1>

        <% blogs.forEach( function(blog) { %>
        <div class="blog-list">
          <h3>
            <a href="/blog/<%= blog.slug %>">
              <%= blog.title %>
            </a>
          </h3>
          <span class="entry-meta">
            <i class="far fa-clock"></i>
            <%= blog.createdOn %>
          </span>
          <div class="description-excerpt">
            <%= blog.excerpt %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
