<div class="container clearfix">
  <div class="col-12 ">
    <div class="col-12">
      <div class="col-12 panel">
        <h1>Blogs</h1>

        <table class="default-table">
          <thead>
            <th>SN</th>
            <th>Title</th>
            <th>Published on</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% let sn = 1; blogs.forEach( function(blog) { %>
            <tr>
              <td><%= sn %></td>
              <td><%= blog.title %></td>
              <td><%= blog.createdOn %></td>
              <td>
                <i class="fas fa-edit"></i>
                <i class="fas fa-eye"></i>
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
            <% sn++ }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
