<div class="container clearfix">
  <div class="col-12 ">
    <div class="col-12">
      <div class="col-12 panel">
        <h1>Blogs</h1>

        <table class="default-table">
          <thead>
            <th class="text-left">SN</th>
            <th class="text-left">Title</th>
            <th>Published on</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% let sn = 1; blogs.forEach( function(blog) { %>
            <tr>
              <td><%= sn %></td>
              <td><%= blog.title %></td>
              <td class="text-center"><%= blog.createdOn %></td>
              <td class="text-center">
                <i class="fas fa-eye view"></i>
                <i class="fas fa-edit edit"></i>
                <i class="fas fa-trash-alt delete"></i>
              </td>
            </tr>
            <% sn++ }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
