<header>
  <nav class="container clearfix">
    <ul class="menu pull-left">
      <li><a href="/">Home</a></li>
      <li><a href="/">Blog</a></li>
    </ul>

    <div class="header-tools pull-right">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-github"></i>
      <i class="fas fa-sun" onclick="toggleTheme(this)"></i>
    </div>
  </nav>
</header>

<section>
  <div class="container">
    <div class="col-12 intro">
      <h3>Programmer at BETA phase.</h3>
      <h1>
        Akash
        <span>Rai</span>
      </h1>
    </div>
  </div>
</section>
