<header>
  <nav class="container clearfix">
    <ul class="menu pull-left">
      <li><a href="/">Home</a></li>
      <li><a href="/">Blog</a></li>
    </ul>

    <div class="header-tools pull-right">
      <i class="" onclick="toggleTheme(this)">Day</i>
    </div>
  </nav>
</header>
