<header>
  <nav class="container clearfix">
    <ul class="menu pull-left">
      <li><a href="/">Home</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/">Open Source</a></li>
    </ul>

    <div class="header-tools pull-right">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-github"></i>
      <i class="fas fa-sun" onclick="toggleTheme(this)"></i>
    </div>
  </nav>
</header>

<section class="col-12 padding-0 clearfix">
  <div class="container clearfix">
    <div class="col-12 intro-title">
      <!-- <h3><i class="fas fa-quote-left quote"></i> A full Stack developer.</h3> -->
      <!-- <h3>HELLO, I'M</h3> -->
      <h1>
        Akash
        <span>Rai</span>
      </h1>
      <h2></i> A full Stack Web Developer <i class="fas fa-laptop-code"></i></h2>

      <div class="profile-image">
        <img src="/image/profile2.png" alt="profile picture" />
      </div>
    </div>
  </div>

  <div class="ground">
    <div class="container clearfix">
      <div class="col-7 intro-paragraph">
        <p>
          <!-- NAMASTE I’M ASHISH YADAV full stack developer I am from Butwal, Nepal.
          I have good knowledge of web development. My experience is with
          technologies like Angular, React, Node, Core Java, Java Swing, PHP,
          WordPress Themes & Plugins Development, etc and also with a good
          understanding of software development pattern ( MVC ) and structuring
          code using Object Oriented Programming. Along with these I also love
          creating 2D games & created one 2D game for GitHub Game Off contest. I
          have been working as a part time SEO Analyst to optimize and rank
          products on Search Engine and B2B platforms. -->
        </p>
      </div>
    </div>
  </div>
</section>
