<header>
  <nav class="container clearfix">
    <ul class="menu pull-left">
      <li><a href="/">Home</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/">Open Source</a></li>
    </ul>

    <div class="header-tools pull-right">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-github"></i>
      <i class="fas fa-sun" onclick="toggleTheme(this)"></i>
    </div>
  </nav>
</header>

<section class="col-12 padding-0 clearfix">
  <div class="container clearfix">
    <div class="col-12 homepage-title">
      <h1>
        Akash
        <span>Rai</span>
      </h1>
      <h2>A full Stack Web Developer <i class="fas fa-laptop-code"></i></h2>

      <div class="profile-image">
        <img src="/image/profile2.png" alt="profile picture" />
      </div>
    </div>
  </div>

  <div class="triangle to-left"></div>
  <div class="triangle to-right"></div>

  <div class="intro-block">
    <div class="container clearfix">
      <div class="col-12 intro-paragraph">
        <p>
          Hi, I'm <b>Akash Rai</b>, a self-motivated Tech Enthusiast and Full
          Stack Web developer.
        </p>
        <p>
          For the past few years I have worked as PHP developer, React developer
          and Java developer. My experience includes working in modern tech
          stack like ReactJs, NodeJs, Spring Boot, Laravel, Codeigniter,
          Wordpres, MySQL and Postgress.
        </p>
      </div>
      <hr class="hr" />
    </div>
  </div>

  <div style="height: 300px"></div>
</section>
