<div class="container clearfix ">
  <div class="col-12 page-title">
    <h3>Open Source &nbsp;&nbsp;<i class="fab fa-osi"></i></h3>
    <hr class="hr" />

    <div class="col-9 padding-0">
      <div class="blog-list">
        <h3>
          <a target="_blank" href="https://github.com/Akasky70/ejs-portfolio">
            Portfolio
          </a>
        </h3>

        <div class="description-excerpt clearfix">
          Portfolio is a complete CMS build with Nodejs, Ejs and Mongodb for
          maintaining personal blogs, experience and works.

          <div class=" github-tools">
            <a
              class="github-button"
              href="https://github.com/akasky70/ejs-portfolio"
              data-icon="octicon-star"
              data-show-count="true"
              aria-label="Star akasky70/ejs-portfolio on GitHub"
              >Star</a
            >

            <a
              class="github-button"
              href="https://github.com/akasky70/ejs-portfolio/fork"
              data-icon="octicon-repo-forked"
              data-show-count="true"
              aria-label="Fork akasky70/ejs-portfolio on GitHub"
              >Fork</a
            >
          </div>
        </div>
      </div>

      <div class="blog-list">
        <h3>
          <a
            target="_blank"
            href="https://github.com/Akasky70/Spring-boot-boilerplate"
          >
            Spring Boot Boilerplate
          </a>
        </h3>

        <div class="description-excerpt clearfix">
          A quick startup boilerplate with Spring Boot framework, JWT, OAuth2
          and RESTapi.

          <div class="custom-list">
            <h3>Features</h3>
            <ul class="col-12 ">
              <li>Login signup RESTapi</li>
              <li>Login with Facebook</li>
              <li>Login with Google</li>
              <li>Login with Github</li>
              <li>Email verification</li>
            </ul>
          </div>

          <div class=" github-tools">
            <a
              class="github-button"
              href="https://github.com/akasky70/Spring-boot-boilerplate"
              data-icon="octicon-star"
              data-show-count="true"
              aria-label="Star akasky70/Spring-boot-boilerplate on GitHub"
              >Star</a
            >

            <a
              class="github-button"
              href="https://github.com/akasky70/Spring-boot-boilerplate/fork"
              data-icon="octicon-repo-forked"
              data-show-count="true"
              aria-label="Fork akasky70/Spring-boot-boilerplate on GitHub"
              >Fork</a
            >
          </div>
        </div>
      </div>

      <div class="blog-list">
        <h3>
          <a
            target="_blank"
            href="https://github.com/Akasky70/Laravel-Boilerplate"
          >
            Laravel Boilerplate
          </a>
        </h3>

        <div class="description-excerpt clearfix">
          A quick startup boilerplate with Laravel5, jQuery and MySQL database.

          <div class="custom-list">
            <h3>Features</h3>
            <ul class="col-12 ">
              <li>Multiauth enabled</li>
              <li>Multi role middleware for admins</li>
              <li>Fully designed Admin dashboard</li>
            </ul>
          </div>

          <div class=" github-tools">
            <a
              class="github-button"
              href="https://github.com/akasky70/Laravel-Boilerplate"
              data-icon="octicon-star"
              data-show-count="true"
              aria-label="Star akasky70/Laravel-Boilerplate on GitHub"
              >Star</a
            >

            <a
              class="github-button"
              href="https://github.com/akasky70/Laravel-Boilerplate/fork"
              data-icon="octicon-repo-forked"
              data-show-count="true"
              aria-label="Fork akasky70/Laravel-Boilerplate on GitHub"
              >Fork</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
