<div class="aside">
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="col-12 padding-0">
        <div class="col-12 site-info">
          <span class="site-logo">
            <i class="fas fa-award"></i>
          </span>
          <span class="site-title">Dashboard</span>
        </div>

        <div class="sidebar-menu">
          <div class="drop-down-menus">
            <div class="drop-down-menu">
              <input type="radio" id="rd1" name="rd" />
              <label class="drop-down-menu-label" for="rd1">
                <i class="fas fa-columns"></i>
                <span class="menu-item-name">Dashboard</span>
              </label>

              <div class="drop-down-menu-content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos,
                facilis.
              </div>
            </div>
            <div class="drop-down-menu">
              <input type="radio" id="rd2" name="rd" />
              <label class="drop-down-menu-label" for="rd2">
                <i class="fas fa-pen-square"></i>
                <span class="menu-item-name">Blogs</span>
              </label>
              <div class="drop-down-menu-content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil,
                aut.
              </div>
            </div>
            <div class="drop-down-menu">
              <input type="radio" id="rd3" name="rd" />
              <label for="rd3" class="drop-down-menu-close"
                >Close all &times;</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
