<div class="aside">
  <input type="checkbox" name="expand-on-checked" id="expand-on-checked" />

  <div class="sidebar">
    <label for="expand-on-checked" class="expand-on-check-label"></label>
    <div class="sidebar-content">
      <div class="col-12 padding-0">
        <div class="col-12 site-info">
          <a href="/auth/dashboard">
            <span class="site-logo">
              <i class="fas fa-award"></i>
            </span>
            <span class="site-title">Dashboard</span>
          </a>
        </div>

        <div class="sidebar-menu">
          <div class="drop-down-menus">
            <a class="single-menu active-menu" href="/auth/dashboard">
              <i class="fas fa-chalkboard-teacher"></i>
              <span class="menu-item-name">Dashboard</span>
            </a>

            <div class="drop-down-menu">
              <input type="radio" id="blog" name="rd" />
              <label class="drop-down-menu-label" for="blog">
                <i class="fas fa-blog"></i>
                <span class="menu-item-name">Blogs</span>
              </label>
              <div class="drop-down-menu-content">
                <a class="sub-menu" href="/blog/create">
                  <i class="fas fa-pen-nib"></i>
                  <span class="sub-menu-item-name">New Blog</span>
                </a>

                <a class="sub-menu" href="/blog/list">
                  <i class="fas fa-stream"></i>
                  <span class="sub-menu-item-name">View</span>
                </a>
              </div>
            </div>

            <div class="drop-down-menu">
              <input type="radio" id="rd1" name="rd" />
              <label class="drop-down-menu-label" for="rd1">
                <i class="fas fa-users"></i>
                <span class="menu-item-name">Users</span>
              </label>

              <div class="drop-down-menu-content">
                <a class="sub-menu" href="/users/create">
                  <i class="fas fa-user-plus"></i>
                  <span class="sub-menu-item-name">New User</span>
                </a>

                <a class="sub-menu" href="#">
                  <i class="fas fa-stream"></i>
                  <span class="sub-menu-item-name">View</span>
                </a>
              </div>
            </div>

            <!-- <div class="drop-down-menu">
              <input type="radio" id="rd3" name="rd" />
              <label for="rd3" class="drop-down-menu-close"
                >Close all &times;</label
              >
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
