<div class="sidebar">
  <div class="col-12">
    <div class="col-12 padding-0 site-info">
      <span class="site-logo">
        <i class="fas fa-award"></i>
      </span>
      <span class="site-title">Dashboard</span>
    </div>

    <div class="sidebar-menu">
      <div>Menu</div>
    </div>
  </div>
</div>
