<header>
  <div class="col-12 user-tool">
    <button class="user-tool-btn">
      <span class="user-name"><%= locals.user.name %></span>
      <span class="profile-pic">
        <img src="/image/pp1.jpg" alt="profile-pic" />
      </span>
      <ul class="dropdown">
        <li class="active"><a href="#">Profile</a></li>
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="/users/logout">Log Out</a></li>
      </ul>
    </button>
  </div>
</header>
